[submodule "cleanrl"]
	path = cleanrl
	url = https://github.com/DhananjayAshok/cleanrl
	branch = main
[submodule "GameBoyWorlds"]
	path = GameBoyWorlds
	url = https://github.com/DhananjayAshok/GameBoyWorlds
	branch = main
